
.textoCentro{
    text-align: center;
  }
  .btn {
    display:true;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #00D2F0;
    
  }
  .doisbotoes {
    display:true;
    height: 50px;
    width: 90px;
    color-adjust: #00D2F0;
    border-radius: 50%;
    text-align: center;

    
  }
  .btsmaiores {
    height: 50px;
    width:400px;
    color-adjust: #00D2F0;
    border-radius: 50%;
    text-align: center;
     
    
  }
  .branco{
    color: white;
    
    }

    .azulzin3especial{
        color:#00D2F0;
        text-align: center;
        
        }
        .azulzin{
            background-color: #0080F0;
            }
        .azulzin2{
            background-color: #00D2F0;
            }