<ion-header>

  <ion-toolbar class="azulzin">

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>
      <img width="300px" height="60px" src="assets/logocerta.png" class="azulzin">
      <ion-icon name="notifications"> </ion-icon>
    </ion-buttons>
    <ion-title>
    </ion-title>

  </ion-toolbar>
</ion-header>

<div class="textoCentro">
  <h3 class="textoCentro">Hora de exercitar a mente!</h3>
</div>


<ion-card>

  <h1 class="azulzin3especial">Quem formulou a Teoria da Relatividade? {{pensativo}}<br /> <br /> <br /> <br /></h1>

</ion-card>
<div>
  <ion-button class="doisbotoes">Dica</ion-button>
</div>
<div>
  <ion-button class="doisbotoes">Saltar</ion-button>
</div>

<ion-button class="btsmaiores">Isaac Newton</ion-button>
<ion-button class="btsmaiores">Albert Einsten</ion-button>
<ion-button class="btsmaiores">Alan Turing</ion-button>