<ion-header>
  <ion-toolbar class="azulzin">

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>
      <img width="300px" height="60px" src="assets/logocerta.png" class="azulzin">
      <ion-icon name="notifications"> </ion-icon>
    </ion-buttons>
    <ion-title>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <ion-title class="azulzin">
      <h5 class="branco">Matemática e Ciência da Computação</h5>
    </ion-title>
    <img width="350px" height="185px" src="assets/mc.jpg">


    <br/>
      <ion-title class="azulzin">
        <h5 class="branco">Engenharia e Ciência dos Materais</h5>
      </ion-title>
      <img width="370px" height="185px" src="assets/em.jpg">

      <br/>
      <ion-title class="azulzin">
        <h5 class="branco">Ciências da Vida</h5>
      </ion-title>
      <img width="370px" height="185px" src="assets/cv.jpg">

      <br/>
      <ion-title class="azulzin">
        <h5 class="branco">Aministração e Direito</h5>
      </ion-title>
      <img width="370px" height="185px" src="assets/ad.jpg">


    </ion-card>