.azulzin{
    background-color: #0080F0;
    }
.azulzin2{
    background-color: #00D2F0;
    }
    .btn {
        display:block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #00D2F0;
        
      }
      .branco{
        color: white;
        
        }