<ion-header >
  <ion-toolbar>
    
    <ion-buttons slot="start">
        

      <ion-menu-button ></ion-menu-button>
      <img width="300px" height="60px" src="assets/logocerta.png" class="azulzin">
      <ion-icon name="notifications">     </ion-icon>
    </ion-buttons>
    <ion-title>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="textoCentro">Bem vindo de volta, <b>{{user}}</b>!</div>
  <ion-searchbar></ion-searchbar>


  <h3 class="ion-text-center">Talvez você se interesse por isso...</h3>

  <ion-card>
    <img width="350px" height="185px" src="assets/sanofi1_tratada.jpg">
    <ion-footer>
      <h5 color="dark">Utilizando inteligência artificial para aprimorar
        processo seletivo de estagiários</h5>
    </ion-footer>

    <br/>
        <img width="370px" height="185px" src="assets/teste.jpg">
        <ion-footer>
          <h5 color="dark">Faça um teste de lógica. É rapidinho.</h5>
        </ion-footer>
        <br/>
    <img width="370px" height="185px" src="assets/video1.png">
    <ion-footer>
      <h5 color="dark">Escolas investem em ações para garantir aprendizado dos alunos.</h5>
    </ion-footer>

</ion-card>



</ion-content>

