<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="azulzin">
      <ion-icon name="home" class="branco"></ion-icon>
      <ion-label class="branco">Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="azulzin">
      <ion-icon name="book" class="branco"></ion-icon>
      <ion-label class="branco">Conteúdos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="azulzin">
      <ion-icon name="create" class="branco"></ion-icon>
      <ion-label class="branco">Aprender</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
